* {
  box-sizing: border-box;
  --ozon: #2659f5;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "Outfit", sans-serif;
  font-style: normal;
  color: #030303;
  display: flex;
  font-weight: 500;
  background: #fefefe;
  font-size: 15px;
}

.title {
  width: 100%;
}

.title h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 4px;
  margin-left: 2px;
}

.website {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 18px;
  padding-left: 17px;
  padding-bottom: 18px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
}

.progress {
  width: 130px;
  height: 130px;
  position: relative;
}

/* Серый фон круга */
.progress-background {
  fill: none;
  stroke: #eef3f5;
  stroke-width: 10px;
  stroke-dasharray: 364;
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-bar {
  fill: none;
  stroke: var(--ozon);
  stroke-width: 10px;
  stroke-dasharray: 364;
  stroke-dashoffset: 364;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease;
}

.outer {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 20px;
}

.inner {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

circle {
  fill: none;
  stroke: var(--ozon);
  stroke-width: 10px;
  stroke-dasharray: 364;
  stroke-dashoffset: 364;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggle-checkbox {
  display: none;
}

.toggle-button {
  background-color: #dfe6ee;
  width: 46px;
  height: 28px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.toggle-button::before {
  position: absolute;
  content: "";
  background-color: #fefefe;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin: 2.5px;
  transition: 0.2s;
}

.toggle-checkbox:checked + .toggle-button {
  background-color: var(--ozon);
}

.toggle-checkbox:checked + .toggle-button::before {
  transform: translateX(18px);
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#valueInput {
  border: 1.5px solid black;
  border-radius: 300px;
  width: 43px;
  text-align: center;
  height: 27.5px;
  font-size: 17px;
}

.hidden {
  visibility: hidden;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.value,
.row,
.hiddenPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 20px;
}

@media (max-width: 460px) {
  .card {
    flex-direction: column;
    gap: 75px;
  }

  #valueInput {
    width: 46px;
  }

  .controls {
    flex-direction: column;
    gap: 13px;
  }

  .value,
  .row,
  .hiddenPanel {
    flex-direction: row;
    gap: 22px;
  }

  .toggle-container {
    width: 100%;
    justify-content: space-between;
  }
}
