* {
  box-sizing: border-box;
  --ozon: #2659f5;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: Inter, Roboto, Arial;
  color: #030303;
  display: flex;
  font-weight: 600; // подобрать шрифт и сделать нормальный font-weight
  background: #fefefe;
}
.title {
  width: 100%;
}

.title h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 14.5px;

  margin-top: 3px;
  margin-left: 2px;
}

.website {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;

  padding-right: 18px;
  padding-left: 17px;
  padding-bottom: 18px;
}
.card {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

.progress {
  width: 160px;
  height: 160px;
  position: relative;
}
/* Серый фон круга */
.progress-background {
  fill: none;
  stroke: #eef3f5;
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.progress-bar {
  fill: none;
  stroke: var(--ozon);
  stroke-width: 20px;
  stroke-dasharray: 440; /* Длина штриха и пробела (2πr = 2*3.14*70) */
  stroke-dashoffset: 264;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease;
}
.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
}
.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

circle {
  fill: none;
  stroke: var(--ozon);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: 264;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 50% 50%;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.toggle-checkbox {
  display: none;
}

.toggle-button {
  background-color: #dfe6ee;
  width: 46px;
  height: 30px;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.toggle-button::before {
  position: absolute;
  content: "";
  background-color: #fefefe;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 3px;
  transition: 0.2s;
}

.toggle-checkbox:checked + .toggle-button {
  background-color: var(--ozon);
}

.toggle-checkbox:checked + .toggle-button::before {
  transform: translateX(30px);
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#valueInput {
  border: 1px solid black;
  border-radius: 300px;
  width: 54px;
  text-align: center;
  height: 35px;
  font-size: 17px;
}
.hidden {
  visibility: hidden;
}
.controls {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.value,
.row,
.hiddenPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 15px;
}
@media (max-width: 360px) {
  .card {
    flex-direction: column;
    gap: 30px;
  }

  .controls {
    flex-direction: column;
    gap: 15px;
  }

  .value,
  .row,
  .hiddenPanel {
    flex-direction: row;

    gap: 10px;
  }

  .toggle-container {
    width: 100%;
    justify-content: space-between;
  }
}
